body {
  font-family: "Permanent Marker", cursive;
}

.container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* justify-content: space-between; */
}

table {
  margin: 2em auto;
  text-align: auto;
}

td {
  padding: 0 1em;
}
