body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #11999e;
}

header {
  background: #40514e;
}

h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
  margin: 0;
  color: #e4f9f5;
}

h2 {
  font-family: 'Work Sans', sans-serif;
}

h4 {
  color: white;
}

.banner {
  background: #eeeeee;
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 0 2em;
  text-align: center;
}

#robot {
  max-height: 300px;
}

.container {
  margin: auto;
  text-align: center;
  width: 80%;
  background-color: #e4f9f5;
}

.guide {
  background-color: #40514e;
  color: #e4f9f5;
}

.guide h2 {
  padding: 1em 0;
  margin: 0;
}

#morse-reference {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  font-size: 0.75em;
  padding-bottom: 1.25em;
}

.character-id {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.letter {
  font-weight: bold;
}

button {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background-color: #11999e;
  border-radius: 10px;
  border: 1px solid #b2b8ad;
  color: #757d6f;
  padding: 1em 1.25em;
  color: #e4f9f5;
}

button:hover {
  background-color: pink;
  color: black;
}

button:active {
  position: relative;
  top: 1px;
}

footer {
  margin-top: 0;
  padding: 0;
  color: #e4f9f5;
  background: #40514e;
  text-align: center;
}
